In [3]:
import pyodbc
pyodbc.drivers()

['SQL Server',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [17]:
import pyodbc 

conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=LAPTOP-B09T49TN;'
                      'Database=AdventureWorksDW2014;'
                      'Trusted_Connection=yes;')

In [19]:
# Create Operation
query1 = "Create table driver(driver_id varchar(100), driver_name varchar(200),age int)"
cursor = conn.cursor();
cursor.execute(query1);

In [20]:
#Read Operation
query2 ="Select * from driver"
cursor.execute(query2);
data1 = cursor.fetchall()
data1

[]

In [27]:
# insert Operation
query3 ="insert into driver values ('d_1','Eric', 45)"
query4="insert into driver values ('d_2','Talia', 18)"
query5 ="insert into driver values ('d_3','Kayden', 19)"
cursor.execute(query3)
cursor.execute(query4)
cursor.execute(query5)

In [28]:
#Read Operation
query2 ="Select * from driver"
cursor.execute(query2);
data1 = cursor.fetchall()
data1

[('d_1', 'Eric', 45), ('d_2', 'Talia', 18), ('d_3', 'Kayden', 19)]

In [29]:
# Update Operation
query7="update driver set driver_name='paul' where driver_id='d_1' "
cursor.execute(query7)
query8 ="Select * from driver"
cursor.execute(query8);
data2 = cursor.fetchall()
data2

[('d_1', 'paul', 45), ('d_2', 'Talia', 18), ('d_3', 'Kayden', 19)]

In [30]:
# Delete Operation
query9 = "delete from driver where driver_id='d_1'"
cursor.execute(query9);
query10 ="Select * from driver"
cursor.execute(query10);
data3 = cursor.fetchall()
data3

[('d_2', 'Talia', 18), ('d_3', 'Kayden', 19)]